* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* temporario */
body {
 width: auto;
 
 /* alterei o height de 100vh para 1000px(scroll) */
 height: 2100px; 
}
/* font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1536 - 300))); */