header{
    display: flex;
    justify-content:right;
    position: relative;
    height: 580px;
}
.imagem-fundo-header{
    width:100%
}
.logoELogin{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-right: 20px;
    position: absolute;
}
.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;    
}
.endereco-email-header{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}
.titulo 
span 
a{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.facilidades{
    padding: 150px 150px 0 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;    
}
.facilidades p{
    border: 1px solid red;
    white-space: pre-line;
    margin: 10px 10px;    
}
.all-in-one-app{
    display: flex;
    margin-top: 100px;
}
.all-in-one-app
div 
h2 
p 
button{
    
}
.all-in-one-app 
img{
    height: 514px;
}

